* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



html,body, #root,.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background : #111112;
}

.inner-container  {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  min-height: 100%;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 900px;
	top: 0;
	left: 0;
}